<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" class = "no-js">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/store/rentcar/rentcarChoice.css">
    <link rel="stylesheet" href="	https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css">

</head>
<body>


<div th:include="/header.html :: header"></div>


<div class="choice_wrapper">
    <div class="search_bar_wrap" style="height: 100px;">

        <div class="search_bar_wrap_container">
            <div style="height: 50px; background: white;"></div>
            <div style="height: 0px; background: transparent;"></div>
            <div class="search_bar_wrap_container_line" style="height: 0px;">
                <div class="_content_1o5s2_135" style="grid-template-columns: none; margin-top: 30px;"></div>
            </div>
            <div class="search_bar_box" style="top: 0px;">
                <div class="_search_bar_1o5s2_35">
                    <div class="search_bar_input_box">
                        <div class="search_input_container"
                             style="border: 2px solid transparent; border-top-left-radius: 20px; grid-template-columns: minmax(0px, 363px) 1px minmax(0px, 363px) 1px minmax(0px, 279px);">
                            <div class="input_title_and_detail">
                                <div class="input_title"><img alt="이미지" class="input_title_icon"
                                                              src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADAAAAAwCAMAAABg3Am1AAAANlBMVEVHcEwoKCgnJycnJycnJycoKCgmJiYnJycgICAoKCgnJycoKCgnJycoKCgoKCgmJiYmJiYoKCiAjm0FAAAAEXRSTlMAYPBwz4A39xAgxaCwwOBQkdEtV/wAAAGdSURBVEjHxVVJtoQgDPwMkTDr/S/7w2SrgNqrZuF7kqkqCcnf368O4ntdLTzf6HAv9Av1GLbDCfFBffHb5fjlTp9lKI5lKJq5DI3N9W2Sw4EuQrqxM/2VhPLCU0u6XOd4bJdNtDNUmgRuJHBES4/vZfWvI0gJsWqhHHpaKEDNoFAqcVVKdKJzgJINNEU7fQ227HUhkMQFgknaBsAkG7PT6zqCGBQ8yXEpXApVUBGL2NcAspbalGmXhn50lV5r4Suv2HSaday0/cQAGu7GByYG1GZY0Cr43IIqzCgl/GIQaoSxAUUIc0juFSRbRWxIWvQ9LqrncVp937CpmDgr3KcNDkfuVSW3ygE4ag1Vqg89hew57N1MWczPufZ7GD0h5Pvttb2hT2q7bg+IrVKuTHeuuhAwmQ1hOATE8GHl9zaZf769iVPgMJkN1dc6mhnTSS76ESTmgJq75RrU3q2RcAag+YjWySP/jLMCiD+sorgdLTCE5WkDsQfUwxbJFmjty8WY5rtH3Pv9nYWU9wXoV9H9chsuR/YNc8b5V/o/Pf+nWBvnz7ADrAAAAABJRU5ErkJggg==">
                                    <div class="input_title_text">차량 받을 장소</div>
                                </div>
                                <input class="search_input_round search_input_detail" readonly=""
                                       placeholder="대여 위치를 선택해 주세요." value="강릉역"></div>
                            <div class="input_grid_number"></div>
                            <div class="input_title_and_detail">
                                <div class="input_title"><img alt="이미지" class="input_title_icon"
                                                              src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADAAAAAwBAMAAAClLOS0AAAAIVBMVEVHcEwoKCgoKCgoKCgoKCgmJiYnJycnJycnJycnJycoKCgaae9ZAAAACnRSTlMAgD9AwCfmW9CrPNuh5QAAAKhJREFUOMtjYKAbYC/AZIFB1UIYS2o5isSsJTCW10oUCa8lmCwGViUlpa4VSlAAZgWAJaJWYYClYAkrTInFEIllLi5ZQAwBIFYWVGIhuuVSCAkpuCNnLUSRCEuFSYBYUAlWJQxAtnOXCKIBL4TlqADmqpXods9aTMAOKlo+KjEgEitQkxqrUhdEggM5UlPBCbABkkSzUNNg1KplAdAcjBTdBSBuAZ0KEQCFxaxY4wVeUAAAAABJRU5ErkJggg==">
                                    <div class="input_title_text">날짜 및 시간</div>
                                </div>
                                <input class="search_input_round search_input_detail" readonly=""
                                       value="08.25(금) 10:00 - 08.26(토) 10:00"></div>
                            <div class="input_grid_number"></div>
                            <div class="input_title_and_detail">
                                <div class="input_title"><img alt="이미지" class="input_title_icon"
                                                              src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACoAAAAqBAMAAAA37dRoAAAAMFBMVEVHcEwoKCgoKCgoKCgkJCQnJycoKCgnJycnJycnJycoKCgnJyclJSUnJycnJycoKCjR5hZ0AAAAD3RSTlMAQH+/Fl7A0PCa4LAwcOtzDbdpAAABDElEQVQoz2NgIB3wKDCEMjAdQBP1+MjS4SC/BE30/m/O/xP2/0UTjf/J9F9h/lc0UdYrDHcZfAPQRJltGIwZDhugifJ/ZPjPIP+B2qLR6/+DwK+tyILO/2HABCHIUv+/LA0E0v9/R4gy/S+Bso7/V4CLcvxwgOnqb4CLnv8EZ+r/gTPlEaES/xEhSl/mX0EYuA8XZV3/HwF+BcBDARl8h/iT+X9nINwE0Rn/IZEn/92BATn8ICbv/4ISAed/g6n/G1BEuf+DtSAFKSSwQQYy/jdSQgbK/wXAougAn+hEQWQgCRVFtw0oGmz+f7ExHExg4LT6X2zKsB7FyI8M8qAQYtBAEd3C4AYkm0jJZwDj8c/qARk2UAAAAABJRU5ErkJggg==">
                                    <div class="input_title_text">운전자 생년월일</div>
                                </div>
                                <div class="input_birth_wrap"><input
                                        class="search_input_round search_input_detail" placeholder="YYMMDD"
                                        value="970824" style="height: 20px; margin-top: 0px;">
                                    <div class="StyledText-uUnMb bISJPX"></div>
                                </div>
                            </div>
                        </div>
                        <button type="button" id="/web/차량검색-검색버튼"
                                class="rentcar_search_button choice_search_button">검색
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!--왼쪽 차량정보-->

    <div width="auto" class="ContentsArea-ceSrvw carinfo_wrap">
        <div class="Content-dVzyim carinfo_container">
            <div class="Aside-ifoChX carinfo_box">
                <div class="SubmodelInfoCardWrapper-jgZRZz carinfo_detail"><span class="AgeLabel-hyIxpM carinfo_year">20~현재 출시</span>
                    <p class="SubmodelName-fBxKDh carinfo_name">모닝 어반</p>
                    <p class="SubName-gORRDq carinfo_level">모닝 3세대 F/L</p><img
                            src="https://ims-mobility-public.s3.ap-northeast-2.amazonaws.com/cars/6.png"
                            style="width: 210px; margin-bottom: 15px;">
                    <p class="Desc-jMHTTH carinfo_text">이미지는 이해를 돕기 위한 예시 이며, 배차</p>
                    <p class="Desc-jMHTTH carinfo_text">차량의 색상과 디테일이 다를 수 있습니다. </p>
                    <div class="PriceBox-isHGbR carinfo_price"><p class="PriceText-iWKXRR carinfo_carprice">80,000원</p>
                        <p class="text_14px text_color_1d60e4">보험/딜리버리 포함가</p></div>
                </div>
            </div>


            <!--오른쪽 업체선택-->

            <div class="ListInfoContainer-eqRBsu carCompanyinfo_wrap">

                <div class="ListInfoWrapper-igvcrK carCompanyinfo_container"><span class="text-[14px] font-medium">총 1개</span>
                    <div class="Wrapper-dCnMqr result_category">
                        <button class="SortButton-inTkYa categoryOn">가격순</button>
                        <div class="Border-bHHyqR category_line"></div>
                        <button class="SortButton-inTkYa categoryOff">신차순</button>
                        <div class="Border-bHHyqR category_line"></div>
                        <button class="SortButton-inTkYa categoryOff">평점순</button>
                    </div>
                </div>

                <div class="infinite-scroll-component__outerdiv">
                    <div class="infinite-scroll-component " style="height: auto; overflow: hidden;">
                        <div class="CarGroupListCardWrapper2-jioTfl company_list">
                            <div class="CarGroupListCardWrapper-iDIXqD company_item">
                                <div class="LabelArea-czDCAU company_item_box"><span class="Label-bLEvNO hidyRW">최신연식</span></div>
                                <div style="display: flex; align-items: center; justify-content: space-between;">
                                    <div style="display: flex; align-items: center;"><span
                                            class="RentCompanyName-juZUWk company_name">우리렌터카</span><img
                                            src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADwAAAA8BAMAAADI0sRBAAAALVBMVEVHcEz/tT39s0L9s0L9s0L9s0L/tEL9s0L9s0L/s0L/tEH9s0L9s0L8s0L9s0O5drtDAAAADnRSTlMAD97xonwdylhCMWuKtfAt5loAAAFdSURBVDjLY2AYKkA0EJ8sm94jATzSLO/eOeCRFn73zhCP9L53717jkdZ79+45blnOd0CwAJ/L8LlNDiSN221xIOnX+Fz27t0jvC57924CDmleiDQut+VBpB/ic9m7d0+xy2bpQaQfLcOIyBkx7lBJsIKSo50JcMklxe+wAHMvqNZ32MFjiAGsOKTfBYCluXFJb4AYboddFpbsFmOXtoKnT6ya4V5LxyZdCPc4Yx2m7HMBjLhCBheQQ9UPXfYJSqDzYA8S5AyADNATHAeqdAN6nM5Dln2JKyXhSk99yNIvMKTPIUu/wZBGCTjMbIoSq4/RZblQPYaei7mxJRS0rI0A6BmJCVVaAVvOBzq5Dnu4QML08QZWO6yhCsl+1xgYcrFmw3sgQQsQqxnEeoslVJ6AkxejH2a4gPLZI2ipwQlK1wko0oxAkQPIKUsAPcKqEJzlGFHGEYHMa20Y/DUTACOBKZveHNTBAAAAAElFTkSuQmCC"
                                            width="20px" height="20px" alt="ratingStar" class="mr-[2px]"><span
                                            class="text-[16px] font-medium leading-normal">4.6</span></div>
                                    <span class="text_23px font-semibold">80,000원</span></div>
                                <div style="display: flex; align-items: center; justify-content: space-between;">
                                    <div class="CarInfoArea-byIURY company_text_box">21~23년
                                        <div class="TextBorder-imbBgn company_text_detail"></div>
                                        만 26세
                                        <div class="TextBorder-imbBgn company_text_detail"></div>
                                        가솔린
                                        <div class="TextBorder-imbBgn kqcompany_text_detailZvjT"></div>
                                        5인승
                                    </div>
                                    <span class="OriginalPrice-elYHeW company_price">150,000원</span></div>
                                <div class="CarOptionBox-cQwFKH company_option">옵션 없음</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


</body>
<script src="/jq/jquery-3.7.0.min.js"></script>
<script src="/jq/jquery.form.min.js"></script>
<script src="/js/join.js"></script>

</html>