<!DOCTYPE html>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.0/jquery.min.js"></script>

<html>

<head>
    <meta charset="UTF-8">
    <title>Insert title here</title>
</head>
<body>

<h1> kakaoPay api 이용하기 </h1>

<button id="btnKakaoPay">카카오페이로 결제하기</button>


</body>

<script>
    // 카카오결제
    $(function () {
        $("#btnKakaoPay").click(function () {

            // 필수입력값을 확인.
            var name = $("#form-payment input[name='pay-name']").val();
            var tel = $("#form-payment input[name='pay-tel']").val();
            var email = $("#form-payment input[name='pay-email']").val();

            if (name === "") {
                $("#form-payment input[name='pay-name']").focus()
            }
            if (tel === "") {
                $("#form-payment input[name='pay-tel']").focus()
            }
            if (email === "") {
                $("#form-payment input[name='pay-email']").focus()
            }

            // 결제 정보를 form에 저장한다.
            let totalPayPrice = parseInt($("#total-pay-price").text().replace(/,/g, ''))
            let totalPrice = parseInt($("#total-price").text().replace(/,/g, ''))
            let discountPrice = totalPrice - totalPayPrice
            let usePoint = $("#point-use").val()
            let useUserCouponNo = $(":radio[name='userCoupon']:checked").val()

            // 카카오페이 결제전송
            $.ajax({
                type: 'get'
                , url: '/kakaoPay'
                // ,data:{
                //     total_amount: totalPayPrice
                //     ,payUserName: name
                //     ,sumPrice:totalPrice
                //     ,discountPrice:discountPrice
                //     ,totalPrice:totalPayPrice
                //     ,tel:tel
                //     ,email:email
                //     ,usePoint:usePoint
                //     ,useCouponNo:useUserCouponNo
                //
                // }
                , success: function (response) {
                    // 화면 중앙에 위치시키기 위한 x, y 좌표 계산
                    var screenWidth = window.screen.width;
                    var screenHeight = window.screen.height;
                    var popupWidth = 500; // 팝업 창 가로 크기
                    var popupHeight = 600; // 팝업 창 세로 크기
                    var left = (window.screen.width / 2) - (popupWidth / 2);
                    var top = (window.screen.height / 2) - (popupHeight / 2);

                    // 팝업 창 열기
                    var popup = window.open(response.next_redirect_pc_url, "_blank", "width=500,height=600,left=" + left + ",top=" + top);

                }
            })
        })
    })
</script>
</html>
=======