<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Insert title here</title>
    <script src="/jq/jquery-3.7.0.min.js" type="text/javascript"></script>
    <script src="/js/payment/confirmButton.js" type="text/javascript"></script>
    <script crossorigin="anonymous" src="https://kit.fontawesome.com/9647b4736a.js"></script>
    <link href="/css/payment/payment.css" rel="stylesheet" type="text/css">
</head>
<body>
<script src="/jq/jquery-3.7.0.min.js" type="text/javas cript"></script>
<script src="/js/payment/payment.js" type="text/javascript"></script>
<div class="successPop">
    <div class="ant-modal-root">
        <div role="dialog" aria-modal="true" class="ant-modal contentBox">
            <div tabindex="0" aria-hidden="true"
                 style="width: 0px; height: 0px; overflow: hidden; outline: none;"></div>
            <div class="ant-modal-content">
                <div class="ant-modal-body" style="padding: 30px;">
                    <div class="content">
                        <div style="height: 610px; overflow: scroll; padding-right: 10px; align-content: center;">
                            <div style="font-size: 20px; font-weight: 700; margin-left: 30px;">
                                결제완료
                            </div>
                            <div style="padding: 7px 30px 0px;">
                                <div class="success-result-info">
                                    <div>320,000원
                                    </div>
                                </div>
                                <div class="orderInfo" style="margin-bottom: 15px;">
                                    <div>상호명</div>
                                    <div>유저 아이디</div>
                                </div>
                                <section class="orderInfo-detail">
                                    <div class="orderInfo-con" style="margin-top: 5px;">
                                        <div class="orderInfo">
                                            <div>상품명</div>
                                            <div>굿모닝</div>
                                        </div>
                                        <div class=" orderInfo">
                                            <div>주문금액</div>
                                            <div>320,000원</div>
                                        </div>
                                        <div class="orderInfo">
                                            <div>결제일시</div>
                                            <div>2023.09.02 12:53:12</div>
                                        </div>
                                        <div class="orderInfo">
                                            <div>주문번호</div>
                                            <div>td2164mcvdke312</div>
                                        </div>
                                    </div>
                                </section>
                            </div>
                        </div>
                        <div style="display: flex; justify-content: space-between; margin-top: 30px; position: relative; bottom: 0px; padding-right: 10px;">
                            <button type="button" class="modal-btn _button_default_1vx5o_3"
                                    style="height: 50px; flex: 1 1 0%; font-size: 16px;" id="confirm">확인
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
