<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" class = "no-js">

<head>
    <meta charset="UTF-8">
    <title>Community</title>
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/member/community_main.css">
    <script src="https://kit.fontawesome.com/9647b4736a.js" crossorigin="anonymous"></script>
    <script src = "/jq/jquery-3.7.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/swiper@10/swiper-element-bundle.min.js"></script>
    <script src="/js/header.js"></script>
</head>
<body>
<div class="next">
    <header th:include="/header.html :: header"></header>
    <div class="m">
        <div class="carousel">
            <swiper-container class="mySwiper" pagination="true" pagination-clickable="true" space-between="30"
                              centered-slides="true" autoplay-delay="2500" autoplay-disable-on-interaction="false">
                <swiper-slide><img src="/img/member/carousel1.jpg" alt=""></swiper-slide>
                <swiper-slide><img src="/img/member/carousel1.jpg" alt=""></swiper-slide>
                <swiper-slide><img src="/img/member/carousel1.jpg" alt=""></swiper-slide>
                <swiper-slide><img src="/img/member/carousel1.jpg" alt=""></swiper-slide>

            </swiper-container>
        </div>

        <div class="main_content1">
            <div class="main_content1_text">
                <div class="mct_1">동행을 찾고 있어요</div>
                <div class="mct_2">여행 동행 더보러 가기</div>
            </div>

            <div class="main_content1_box">
                <div class="test1">
                    <div class="test1_content1">
                        <div class="user_profile">
                            <div class="user_img">
                                <img src="/img/member/신짱구.png">
                            </div>
                            <div class="user_info">
                                <div class="user_nick">1998csj</div>
                                <div class="user_agender">20대 · 남성</div>
                            </div>
                        </div>
                        <div class="box_shortline"></div>
                        <div class="trip_profile">
                            <div class="trip_info">
                                <div class="trip_len"><i class="fa-solid fa-calendar" style="color: #9a9a9a;"></i>여행기간
                                </div>
                                <div class="trip_date">9일 · 10/16-10/24</div>
                            </div>
                        </div>

                    </div>
                    <div class="test1_content2">
                        <img src="/img/member/place1.jpg">
                        <div class="img_area"><i class="fa-solid fa-location-dot" style="color: #008ff6;"></i>오사카</div>
                    </div>
                    <div class="test1_content3">
                        <div class="text_title">
                            오사카 교토 나고야!!
                        </div>
                        <div class="text_sub">
                            안녕하세요 20대 남자 여행자입니다.</br>
                            10/16 ~ 10/24 여행자를 구합니다.
                        </div>
                    </div>

                </div>
                <div class="test1">
                    <div class="test1_content1">
                        <div class="user_profile">
                            <div class="user_img">
                                <img src="/img/member/신짱구.png">
                            </div>
                            <div class="user_info">
                                <div class="user_nick">1998csj</div>
                                <div class="user_agender">20대 · 남성</div>
                            </div>
                        </div>
                        <div class="box_shortline"></div>
                        <div class="trip_profile">
                            <div class="trip_info">
                                <div class="trip_len"><i class="fa-solid fa-calendar" style="color: #9a9a9a;"></i>여행기간
                                </div>
                                <div class="trip_date">9일 · 10/16-10/24</div>
                            </div>
                        </div>

                    </div>
                    <div class="test1_content2">
                        <img src="/img/member/place1.jpg">
                        <div class="img_area"><i class="fa-solid fa-location-dot" style="color: #008ff6;"></i>오사카</div>
                    </div>
                    <div class="test1_content3">
                        <div class="text_title">
                            오사카 교토 나고야!!
                        </div>
                        <div class="text_sub">
                            안녕하세요 20대 남자 여행자입니다.</br>
                            10/16 ~ 10/24 여행자를 구합니다.
                        </div>
                    </div>

                </div>
                <div class="test1">
                    <div class="test1_content1">
                        <div class="user_profile">
                            <div class="user_img">
                                <img src="/img/member/신짱구.png">
                            </div>
                            <div class="user_info">
                                <div class="user_nick">1998csj</div>
                                <div class="user_agender">20대 · 남성</div>
                            </div>
                        </div>
                        <div class="box_shortline"></div>
                        <div class="trip_profile">
                            <div class="trip_info">
                                <div class="trip_len"><i class="fa-solid fa-calendar" style="color: #9a9a9a;"></i>여행기간
                                </div>
                                <div class="trip_date">9일 · 10/16-10/24</div>
                            </div>
                        </div>

                    </div>
                    <div class="test1_content2">
                        <img src="/img/member/place1.jpg">
                        <div class="img_area"><i class="fa-solid fa-location-dot" style="color: #008ff6;"></i>오사카</div>
                    </div>
                    <div class="test1_content3">
                        <div class="text_title">
                            오사카 교토 나고야!!
                        </div>
                        <div class="text_sub">
                            안녕하세요 20대 남자 여행자입니다.</br>
                            10/16 ~ 10/24 여행자를 구합니다.
                        </div>
                    </div>

                </div>
                <div class="test1">
                    <div class="test1_content1">
                        <div class="user_profile">
                            <div class="user_img">
                                <img src="/img/member/신짱구.png">
                            </div>
                            <div class="user_info">
                                <div class="user_nick">1998csj</div>
                                <div class="user_agender">20대 · 남성</div>
                            </div>
                        </div>
                        <div class="box_shortline"></div>
                        <div class="trip_profile">
                            <div class="trip_info">
                                <div class="trip_len"><i class="fa-solid fa-calendar" style="color: #9a9a9a;"></i>여행기간
                                </div>
                                <div class="trip_date">9일 · 10/16-10/24</div>
                            </div>
                        </div>

                    </div>
                    <div class="test1_content2">
                        <img src="/img/member/place1.jpg">
                        <div class="img_area"><i class="fa-solid fa-location-dot" style="color: #008ff6;"></i>오사카</div>
                    </div>
                    <div class="test1_content3">
                        <div class="text_title">
                            오사카 교토 나고야!!
                        </div>
                        <div class="text_sub">
                            안녕하세요 20대 남자 여행자입니다.</br>
                            10/16 ~ 10/24 여행자를 구합니다.
                        </div>
                    </div>

                </div>
            </div>
            <div class="main_content1_box">
                <div class="test1">
                    <div class="test1_content1">
                        <div class="user_profile">
                            <div class="user_img">
                                <img src="/img/member/신짱구.png">
                            </div>
                            <div class="user_info">
                                <div class="user_nick">1998csj</div>
                                <div class="user_agender">20대 · 남성</div>
                            </div>
                        </div>
                        <div class="box_shortline"></div>
                        <div class="trip_profile">
                            <div class="trip_info">
                                <div class="trip_len"><i class="fa-solid fa-calendar" style="color: #9a9a9a;"></i>여행기간
                                </div>
                                <div class="trip_date">9일 · 10/16-10/24</div>
                            </div>
                        </div>

                    </div>
                    <div class="test1_content2">
                        <img src="/img/member/place1.jpg">
                        <div class="img_area"><i class="fa-solid fa-location-dot" style="color: #008ff6;"></i>오사카</div>
                    </div>
                    <div class="test1_content3">
                        <div class="text_title">
                            오사카 교토 나고야!!
                        </div>
                        <div class="text_sub">
                            안녕하세요 20대 남자 여행자입니다.</br>
                            10/16 ~ 10/24 여행자를 구합니다.
                        </div>
                    </div>

                </div>
                <div class="test1">
                    <div class="test1_content1">
                        <div class="user_profile">
                            <div class="user_img">
                                <img src="/img/member/신짱구.png">
                            </div>
                            <div class="user_info">
                                <div class="user_nick">1998csj</div>
                                <div class="user_agender">20대 · 남성</div>
                            </div>
                        </div>
                        <div class="box_shortline"></div>
                        <div class="trip_profile">
                            <div class="trip_info">
                                <div class="trip_len"><i class="fa-solid fa-calendar" style="color: #9a9a9a;"></i>여행기간
                                </div>
                                <div class="trip_date">9일 · 10/16-10/24</div>
                            </div>
                        </div>

                    </div>
                    <div class="test1_content2">
                        <img src="/img/member/place1.jpg">
                        <div class="img_area"><i class="fa-solid fa-location-dot" style="color: #008ff6;"></i>오사카</div>
                    </div>
                    <div class="test1_content3">
                        <div class="text_title">
                            오사카 교토 나고야!!
                        </div>
                        <div class="text_sub">
                            안녕하세요 20대 남자 여행자입니다.</br>
                            10/16 ~ 10/24 여행자를 구합니다.
                        </div>
                    </div>

                </div>
                <div class="test1">
                    <div class="test1_content1">
                        <div class="user_profile">
                            <div class="user_img">
                                <img src="/img/member/신짱구.png">
                            </div>
                            <div class="user_info">
                                <div class="user_nick">1998csj</div>
                                <div class="user_agender">20대 · 남성</div>
                            </div>
                        </div>
                        <div class="box_shortline"></div>
                        <div class="trip_profile">
                            <div class="trip_info">
                                <div class="trip_len"><i class="fa-solid fa-calendar" style="color: #9a9a9a;"></i>여행기간
                                </div>
                                <div class="trip_date">9일 · 10/16-10/24</div>
                            </div>
                        </div>

                    </div>
                    <div class="test1_content2">
                        <img src="/img/member/place1.jpg">
                        <div class="img_area"><i class="fa-solid fa-location-dot" style="color: #008ff6;"></i>오사카</div>
                    </div>
                    <div class="test1_content3">
                        <div class="text_title">
                            오사카 교토 나고야!!
                        </div>
                        <div class="text_sub">
                            안녕하세요 20대 남자 여행자입니다.</br>
                            10/16 ~ 10/24 여행자를 구합니다.
                        </div>
                    </div>

                </div>
                <div class="test1">
                    <div class="test1_content1">
                        <div class="user_profile">
                            <div class="user_img">
                                <img src="/img/member/신짱구.png">
                            </div>
                            <div class="user_info">
                                <div class="user_nick">1998csj</div>
                                <div class="user_agender">20대 · 남성</div>
                            </div>
                        </div>
                        <div class="box_shortline"></div>
                        <div class="trip_profile">
                            <div class="trip_info">
                                <div class="trip_len"><i class="fa-solid fa-calendar" style="color: #9a9a9a;"></i>여행기간
                                </div>
                                <div class="trip_date">9일 · 10/16-10/24</div>
                            </div>
                        </div>

                    </div>
                    <div class="test1_content2">
                        <img src="/img/member/place1.jpg">
                        <div class="img_area"><i class="fa-solid fa-location-dot" style="color: #008ff6;"></i>오사카</div>
                    </div>
                    <div class="test1_content3">
                        <div class="text_title">
                            오사카 교토 나고야!!
                        </div>
                        <div class="text_sub">
                            안녕하세요 20대 남자 여행자입니다.</br>
                            10/16 ~ 10/24 여행자를 구합니다.
                        </div>
                    </div>

                </div>
            </div>
        </div>

        <div class="main_content2">
            <div class="main_content1_text">
                <div class="mct_1">여행 일정을 구경해보세요</div>
                <div class="mct_2">여행 일정 구경하기</div>
            </div>

            <div class="main_content1_box">
                <div class="test2">
                    <div class="test2_content1">
                        <div class="user_profile">
                            <div class="user_img">
                                <img src="/img/member/신짱구.png">
                            </div>
                            <div class="user_info">
                                <div class="user_nick2">1998csj</div>
                                <div class="user_agender2">20대 · 남성</div>
                            </div>
                        </div>
                        <div class="box_shortline"></div>
                        <div class="trip_profile">
                            <div class="trip_info">
                                <div class="trip_len"><i class="fa-solid fa-calendar" style="color: #9a9a9a;"></i>여행기간
                                </div>
                                <div class="trip_date">9일 · 10/16-10/24</div>
                            </div>
                        </div>
                    </div>
                    <div class="map">
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d104994.83738849807!2d135.4036366286705!3d34.67771155001461!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x6000e6553406e2e1%3A0xc55bc16ee46a2fe7!2z7J2867O4IOyYpOyCrOy5tOu2gCDsmKTsgqzsubTsi5w!5e0!3m2!1sko!2skr!4v1692607264229!5m2!1sko!2skr"
                                width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"
                                referrerpolicy="no-referrer-when-downgrade"></iframe>
                    </div>
                    <div>
                        <div class="test2_area">
                            <div class="area_text">
                                <i class="fa-solid fa-location-dot" style="color: #008ff6;"></i>오사카
                            </div>
                        </div>
                        <div class="nick_plan">1998csj님의 여행일정</div>
                    </div>
                </div>
                <div class="test2"></div>
                <div class="test2"></div>
                <div class="test2"></div>
            </div>
            <div class="main_content1_box">
                <div class="test2"></div>
                <div class="test2"></div>
                <div class="test2"></div>
                <div class="test2"></div>
            </div>
        </div>
    </div>
</div>

<div th:include="/footer.html :: footer"></div>
<!-- Swiper JS -->


</body>

<script>


</script>
</html>