<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/flight.css">
    <script src="https://kit.fontawesome.com/9647b4736a.js" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.7.0.min.js"></script>
</head>
<body>
<div th:include="/header.html :: header"></div>
<div class="container">
    <div>

    </div>

</div>
<div th:include="/footer.html :: footer"></div>
</body>
</html>