<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>비밀번호 찾기</h1>



<div class="second-box">
    <div style="position: relative; height: 20px; background: rgb(246, 246, 246); box-shadow: rgb(246, 246, 246) -16px 26px 16px 39px;"></div>
    <!--                        차량 옵션정보 (table만든 데이터 집어넣기)-->
    <div class="second-box-tabs">
        <div class="second-box-tabs-non-click" data-a="0" style="color:#00ce7c; font-weight:600">
            예약정보
        </div>
        <div class="second-box-tabs-non-click" data-a="1">
            보험/유의사항
        </div>
        <div class="second-box-tabs-non-click" data-a="2">
            업체/리뷰
        </div>
        <div class="second-box-tabs-clicked-bar"></div>
    </div>
</div>

</body>
</html>