<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Ticket</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/store/flight/flight.css">
    <script src="https://kit.fontawesome.com/9647b4736a.js" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.7.0.min.js"></script>
</head>
<body>

<div class="next">
    <div th:include="/header.html :: header"></div>
    <div class="flights_container">
        <div class="flight_search_container">
            <div class="flight_search_form_container">
                <div class="flight_search_title">
                    <h1>항공권</h1>
                </div>
                <div class="flight_search_form">
                    <div class="flight_search_form_content">
                        <div class="flight_search_table">
                            <div class="flight_search_col">
                                <div class="search_airline">
                                    <div class="search_airline_input">
                                        <div class="">
                                            <div class="airline_btn">
                                                <h4>출발</h4>
                                                <select class="form-select" id="start_airport">
                                                        <option value="NAARKJB">
                                                            무안
                                                        </option>
                                                        <option value="NAARKJK">
                                                            군산
                                                        </option>
                                                        <option value="NAARKJJ">
                                                            광주
                                                        </option>
                                                        <option value="NAARKJY">
                                                            여수
                                                        </option>
                                                        <option value="NAARKNW">
                                                            원주
                                                        </option>
                                                        <option value="NAARKNY">
                                                            양양
                                                        </option>
                                                        <option value="NAARKPC">
                                                            제주
                                                        </option>
                                                        <option value="NAARKPK">
                                                            김해
                                                        </option>
                                                        <option value="NAARKPS">
                                                            사천
                                                        </option>
                                                        <option value="NAARKPU">
                                                            울산
                                                        </option>
                                                        <option value="NAARKSI">
                                                            인천
                                                        </option>
                                                        <option value="NAARKSS" selected>
                                                            김포
                                                        </option>
                                                        <option value="NAARKTH">
                                                            포항
                                                        </option>
                                                        <option value="NAARKTN">
                                                            대구
                                                        </option>
                                                        <option value="NAARKTU">
                                                            청주
                                                        </option>
                                                </select>
                                            </div>
                                            <div class="airline_btn">
                                                <div class="airline_icon">
                                                    <i class="icon_circle"></i>
                                                </div>
                                            </div>
                                            <div class="airline_btn">
                                                <h4>도착</h4>
                                                <select class="form-select" id="end_airport">
                                                    <option value="NAARKJB">
                                                        무안
                                                    </option>
                                                    <option value="NAARKJK">
                                                        군산
                                                    </option>
                                                    <option value="NAARKJJ">
                                                        광주
                                                    </option>
                                                    <option value="NAARKJY">
                                                        여수
                                                    </option>
                                                    <option value="NAARKNW">
                                                        원주
                                                    </option>
                                                    <option value="NAARKNY">
                                                        양양
                                                    </option>
                                                    <option value="NAARKPC" selected>
                                                        제주
                                                    </option>
                                                    <option value="NAARKPK">
                                                        김해
                                                    </option>
                                                    <option value="NAARKPS">
                                                        사천
                                                    </option>
                                                    <option value="NAARKPU">
                                                        울산
                                                    </option>
                                                    <option value="NAARKSI">
                                                        인천
                                                    </option>
                                                    <option value="NAARKSS">
                                                        김포
                                                    </option>
                                                    <option value="NAARKTH">
                                                        포항
                                                    </option>
                                                    <option value="NAARKTN">
                                                        대구
                                                    </option>
                                                    <option value="NAARKTU">
                                                        청주
                                                    </option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="flight_date_input">
                                        <h4>출발일</h4>
                                        <div class="flight_date_box">
                                            <input type="date" id="flight_date">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="search_btn_box">
                                <button type="button" id="flight_search_btn">항공권 검색</button>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="result_container">
            <div class="result_title">
                <span>김포</span>
                <i></i>
                <span>제주</span>
            </div>
            <hr/>
            <div class="result_table">
                <div class="result_table_inner">
                    <div class="result_schedule">
                        <div class="schedule_item">
                            <div class="airline_box">
                                <div class="airline_item">
                                    <div class="airline_logos">
                                        <img src="/img/store/flight/tway.jpg">
                                    </div>
                                    <b class="airline_name">티웨이항공</b>
                                </div>
                            </div>
                            <div class="airline_route">
                            <span class="start_route">
                                <b>김포(08:30)</b>
                            </span>
                                <span class="end_route">
                                <b>제주(09:30)</b>
                            </span>
                            </div>
                        </div>
                    </div>
                    <div class="airline_price">
                        <div>
                            <b>₩53,600</b>
                        </div>
                    </div>
                </div>
            </div>
            <div class="hr-sect">더 많은 검색 결과</div>
        </div>
    </div>
    <button onclick="location.href='/tourism'">관광정보 샘플</button>
    <form>
        <!--    <select id="start_airport" name="start_airport">-->

        <!--    </select>-->
        <!--    <select id="end_airport" name="end_airport"></select>-->
        <input type="date" id="start_day" name="start_day"/>
        <button type="button" id="search_flight">검색하기</button>
    </form>
    <table border="1">
        <thead>
        <tr>
            <th>항공사</th>
            <th>출발지</th>
            <th>도착지</th>
            <th>출발시간</th>
            <th>도착시간</th>
            <th>운임(이코노미)</th>
            <th>운임(비즈니스)</th>
            <th>항공편</th>
        </tr>
        </thead>
        <tbody id="flight_list">

        </tbody>
    </table>
    <div th:include="/footer.html :: footer"></div>
    <script src="https://cdn.jsdelivr.net/npm/swiper@10/swiper-element-bundle.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
            crossorigin="anonymous"></script>

</div>
</body>
</html>

